.uList{
    padding-left: 0;
    list-style: none;
  }
.listGroup{
    margin: 5px 0;
    border-radius: 5px;
}
.removeItem{
    font-size: 20px;
    cursor: pointer;
    color: red;
    margin-left: 10px;
}
.addItem{
    font-size: 20px;
    cursor: pointer;
    color: blue;
    margin-left: 10px;
}
.editItem{
    font-size: 20px;
    cursor: pointer;
    color: green;
    margin-left: 5px;
}
.listItem: {
    margin-left: 5px;
    padding-left: 20px;
    font-size: 17px;
}
.buttonOren{
    float: right;
}
.main{
    margin: 0 auto;
    margin-top: 20px;
    width: 970px;
    background-color: #009688;
}
.rowAddItem{
    display: inline-block;
    margin-bottom: 5px;
}
.form-control{
    width: 66% !important;
}
.submit{
    border-width: 0px;
}
